.Login {
    display: flex;
    justify-content: center;
    align-items: center
   
}

.Login_box {
    border: solid 1px;
    border-color: black;
}

.Login_buttons{
    display:flex;
    justify-content: space-between;
}

.Login_labels{
    display: flex;
}

.error{
    color: red;
}