.Header {
    height: 45px;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homecart {
    color: white;
    padding-left: 10px;
}

.header_middle {
    display: flex;
    padding-left: 10px;
}

.header_middle>div {
    padding-right: 10px;
}

.header_middle>div:last-child {
    padding-right: 0px;
}

.searchbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.searchbar>select {
    height: 30px;
    width: 120px;
}

.searchbar>input {
    height: 30px;
    width: 100%;
}

.searchbar>.searchicon {
    color: white;
    background-color: orange;
    height: 28px;
    width: 85px;
}

.searchbar> .Buttons{
    display: flex;

}

.searchbar> .Buttons > .Button{
    padding-right: 10px;
    padding-left: 10px;
    width: max-content;
}

.searchbar> .Buttons > .Button:last-child{
    padding-left: 10px;
}

.cart {
    display: flex;
    color: black;
    height: 30px;
    width: 30px;
}

.SVG{
    display: flex;
}

.SVG > svg {
    padding-left: 5px;
    padding-right: 5px;
}

@media only screen and (max-width: 530px) {
    .Button {
        display: none;
    }
}