.Footer {
    height: 45px;
    background-color: brown;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.Footer_Text {
    display: flex;
    color: azure;
    padding-right: 15px;
}

.Footer_Text:last-child{
    padding-right: none;
}

@media only screen and (max-width: 1024px) {
    .Footer {
        height: 45px;
    }
}

@media only screen and (max-width: 768px) {
    .Footer {
        height: 50px;
    }
}

@media only screen and (max-width: 425px) {
    .Footer {
        height: auto;
    }
}