main{
    height: 100%;
}
.home_carousel {
    height: inherit;   
}
.home_carousel > {
    height: 100px;
    
}
.lower_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}